/vendor/srmklive
/.idea
/.vscode
/bootstrap/cache
.env
vendor/


# Then include uploads folder

# Ignore storage except uploads
/storage/framework/*
/storage/logs/*
/storage/sessions/*
/storage/installed
/storage/uploads/*
/storage/public/*
!/storage/app/public/upload/
!/storage/upload/logo/
